body {
    height:100vh;
    text-align:center;
}



#navBar {
    height: 15vh;
    background-color:rgba(173, 36, 36, 0.63);
       
}

#welcome-section {
    height: 30vh;
    padding-bottom:10px;
    border: 2px ridge rgba(121, 121, 121, 0.5);
    
}

#questions-section {
    height: 45vh;
    border: 2px ridge rgba(121, 121, 121, 0.5);
    padding:10px;
}

#footer {
    min-height: 10vh;
    background-color: rgba(22, 89, 175, 0.541);
    padding-top:10px;
}


.question {
    font-style: italic;
    font-size: 1.2em;

}

h1 {
    font-size:3em;
}

.github-logo {
    position:relative;
    bottom:2vh;
    height:10vh;
}

#next-button {
    padding:2px;
    margin-bottom:10px;
    margin-top:20px;
    position:relative;
    left:40px;
}

#submit-button:hover{
    background-color:rgba(59, 123, 182, 0.788);
}
#submit-button:active {
    background-color: rgba(37, 80, 121, 0.788);
    box-shadow: 0 5px #666
}

#restart-button {
    position: absolute;
    bottom:50px;
    right:50px;

}

